* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

* {box-sizing: border-box}

body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    font-size: 50px;
    font-weight: 500;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 0,5 solid transparent;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgb(168, 116, 47);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: burlywood;
}

h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 20px;
    color: burlywood;
    width: 100%;
    line-height: 50px;
}

a.btn-primary {
    background: wheat;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.btn-primary:hover {
    background: rgb(116, 98, 66);
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 10px 0px;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image to responsive */
  .image {
    display: flex;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: flex;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
  }